@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

/* Body styles */
body {
    font-family: Oswald, sans-serif;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 0, 225, 0.192);
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 20px;
    padding: 20px;
}

/* Homepage styles */
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h2 {
    margin: 100px;
}

.homepage img {
    width: 800px;
    height: 500px;
}

.homepage h2 {
    margin-bottom: 10px;
}

.homepage p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/* Button styles */
.btn {
    display: inline-block;
    background-color: darkblue;
    color: rgb(252, 249, 249);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: darkslategray;
    color: white;
}

/* Game page styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2 {
    margin: 50px;
}

.container img {
    width: 500px;
    height: 500px;
}

.container button:hover {
    background-color: black;
    color: white;
}

.container.choice {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.container #scoreboard {
    margin-top: 20px;
    font-size: 20px;
}

#player-score,
#computer-score,
.container #player-score,
.container #computer-score {
    margin: 10px;
}

/* Return to main page button styles */
#returntomainpagebtn {
    background-color: darkblue;
    color: rgb(252, 249, 249);
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-bottom: 30px;
}

#returntomainpagebtn:hover {
    background-color: darkslategray;
    color: white;
}

/* Input field styles */
.container input[type="text"] {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Instructions text styles */
#instructions {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Game result text styles */
#game-result {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Round result text styles */
#round-result {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Media Queries */

/* For tablets (min-width: 769px) and (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .homepage {
        font-size: 95%;
    }

    .homepage img {
        width: 400px;
        height: 400px;
    }

    .btn {
        padding: 10px 24px;
    }

    .container {
        font-size: 95%;
    }

    .container img {
        width: 400px;
        height: 400px;
    }

    .container button {
        padding: 10px 24px;
    }
}

/* For mobile devices (max-width: 768px) */
@media (max-width: 768px) {
    .homepage {
        font-size: 90%;
    }

    .homepage img {
        width: 400px;
        height: 400px;
    }

    .btn {
        padding: 10px 24px;
    }

    .container {
        font-size: 90%;
    }

    .past-scores-table {
        font-size: 0.9rem;
        max-width: 95%;
    }

    .container {
        font-size: 90%;
    }

    .container img {
        width: 400px;
        height: 400px;
    }

    .past-scores-table {
        font-size: 0.9rem;
        max-width: 95%;
    }

    .choice,
    .container.choice {
        font-size: 16px;
    }

    .container button {
        padding: 10px 24px;
    }
}

/* For smaller mobile devices (min-width: 321px) and (max-width: 480px) */
@media (min-width: 321px) and (max-width: 480px) {
    .homepage {
        font-size: 75%;
    }

    .homepage img {
        width: 200px;
        height: 200px;
    }

    .btn {
        padding: 8px 20px;
    }

    .container {
        font-size: 75%;
    }

    .container img {
        width: 200px;
        height: 200px;
    }

    .container button {
        padding: 8px 20px;
    }

    .choice,
    .container.choice {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }

    .past-scores-table {
        font-size: 0.8rem;
        max-width: 90%;
    }
}

/* Play again button styles */
#playAgainBtn {
    background-color: darkgreen;
    color: rgb(252, 249, 249);
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-bottom: 30px;
}

#playAgainBtn:hover {
    background-color: darkolivegreen;
    color: white;
}
